a {
    color: #0078d4;
    text-decoration: none;
}

a:focus, a:hover {
    color: #004578;
    text-decoration: underline;
}

body, td, th, tr, p, a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px
}

strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600
}

cite {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-style: italic;
    color: #515C6B;
    margin-left: 20px;
    margin-right: 20px;
}

code {
    font-family: 'Inconsolata', Consolas, Monaco, monospace;
    font-size: 15px;
}

alert {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: #d13438;
    font-weight: 600
}

acceptance {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #979593
}

heading, h2 {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 24px;
}

year {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 20px;
}

papertitle {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600
}

name, h1 {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 32px
}

.one {
    width: 160px;
    height: 160px;
    position: relative;
}

.two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

.fade {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}

a.blog {
    border-radius: 4px;
    background-color: #0078d4e7;
    color: white;
    padding: 6px;
    border: none;
}

a.blog:hover {
    background-color: #004578;
    color: white;
    text-decoration: none;
}