.main-container {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    max-width: 700px;
}

.badge-alert {
    color: white;
    background-color: #da1e28;
}

.badge {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    display: inline-block;
    padding: .25em .4em;
    font-size: 85%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.break {
    word-break: break-word;
}

.description,
.entry {
    margin: 0 0 1em 0;
}

.description:after,
.entry:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left {
    width: 15%;
    font-weight: 600;
}

.right {
    width: 85%;
}

.entry-left {
    width: 70%;
}

.entry-right {
    text-align: right;
    width: 30%;
}

.gallery {
    border-radius: 10%;
}

body {
    color: black;
    background-color: white;
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

p {
    display: block;
    margin: 0 0 1em 0;
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: large;
}

h3,
footer {
    border-top: 1px solid black;
    margin-top: 2em;
    padding-top: 0.1em;
    margin-bottom: 0.75em;
}

h4 {
    font-weight: 300;
}

a,
a:visited {
    color: #007d79;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

header {
    text-align: center;
}

section,
footer {
    text-align: left;
}

footer {
    font-size: small;
    font-style: italic;
}

figure {
    display: inline-block;
}

li {
    margin-bottom: 5px;
}

li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 720px) {
    .left {
        width: 25%;
    }
    
    .right {
        width: 75%;
    }
}